.accordion {
    background-color: #C0E8B9;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.8s;
}

.accordion:hover {
    background-color:limegreen; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: #C0E8B9;
    overflow: hidden;
}


